@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: Lato, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4AA7D;
    border-bottom: 2px solid black;
}

.nav-header {
    color: #272727;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #272727;
    font-size: x-large;
}

nav a:hover {
    color: #FFF;
}

nav img {
    display: flex;
    justify-content: flex-start;
    width: 40px;
    height: auto;
}

#hero-img {
    height: 75vh;
    background-image: url("../assets/images/landingpageimg.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid black;
}

#hero-img h1 {
    text-transform: uppercase;
    font-size: xxx-large;
    font-weight: bold;
}

#landing-content h1 {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
}

#landing-content img {
    width: 20%;
    padding-right: 50px;
    padding-left: 50px;
}

#landing-content div {
    display: flex;
    align-items: center;
}

#anders-celsius {
    display: flex;
    justify-content: flex-end;
}

#landing-content div h3{

}