@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

* {
    font-family: Lato, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General */
.center {
    display: flex;
    justify-content: center;
}

.big_text {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 5%;
    padding-top: 5%;
    color: rgba(242, 227, 188);
}

/* Navbar */

nav {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #626267;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#uppsala {
    font-family: 'Moirai One', cursive;
    font-weight: 1000;
    padding-left: 5%;
}

.nav-header {
    color: #272727;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-right: 10px;
    padding-right: 5px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(242, 227, 188);
    font-size: x-large;
}

nav a:hover {
    color: #FFF;
}

nav img {
    display: flex;
    justify-content: flex-start;
    width: 40px;
    height: auto;
}

/* Landing hero */

#hero-img {
    height: 75vh;
    background-image: url("../assets/images/landingpageimg.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid rgba(242, 227, 188, 0.5);
}

#hero-img h1 {
    text-transform: uppercase;
    font-size: xxx-large;
    font-weight: bold;
}

/* Landing page content */

#landing-content {
    background-color: #6E6E72;
    height: 100vh;
}

#landing-content img {
    width: 20%;
    padding-right: 50px;
    padding-left: 50px;
}

#landing-content div {
    display: flex;
    align-items: center;
}

.content-heading {
    position: absolute;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    color: #C1C1C3;
}

#carl-p, #anders-p {
    padding-top: 2.5%;
    color: #A1A1A5;
}

#carl-p{
    padding-right: 5%;
}

#anders-p{
    padding-left: 5%;
}

.carl-anders {
    border-radius: 48%;
}

#anders-celsius {
    display: flex;
    justify-content: flex-end;
}

/* iframe map */

#map-outer {
    padding: 50px;
    background-color: #626267;
}

#map-outer h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

/* Bottom content */

#see_do_btn {
    display: flex;
    justify-content: center;
    width: 20vh;
    height: 5vh;
    background-color: rgba(242, 227, 188, 0.5);
}

.link_btn a {
    font-size: x-large;
    color: rgba(242, 227, 188);
    text-decoration: none;
}

.link_btn a:hover {
    cursor: pointer;
    color: #FFF;
}

.link_btn {
    margin-bottom: 10vh;
    border: none;
    border-radius: 10%;
    background-color: #272727;
    padding: 20px;
}

#seedo_outer {
    background-color: #626267;
}

/* Footer */

footer {
    height: 20vh;
    background-color: #6E6E72;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer div {
    padding-top: 10px;
}

/* See & Do */
/* Video hero */

video {
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Page content */

.see_do_img {
    display: flex;
    justify-content: space-between;
}

.see_do_img img {
    width: 50%;
    border: 1px solid rgba(242, 227, 188, 0.5);
}

.see_do_info {
    height: 50vh;
    background-color: #6E6E72;
    width: 50%;
    border-top: 1px solid rgba(242, 227, 188, 0.5);
}

.see_do_info h1 {
    color: #C1C1C3;
    padding-top: 4%;
    font-size: xx-large;
    font-weight: bold;
}

.see_do_info p {
    color: #A1A1A5;
    padding: 5%;
    font-size: 1.1rem;
}

/* Floater */

#tips {
    background-color: #626267;
}

#seedo_floating {
    width: 300px;
    height: 185px;
    background-color: #6E6E72;
    border-radius: 10%;
    position: absolute;
    top: 105vh;
    display: flex;
    align-items: center;
}

#seedo_floating h1 {
    font-size: xxx-large;
    font-weight: bold;
    color: rgba(242, 227, 188);
}

/* Contact page */
/* Hero image */

#hero-img-contact {
    height: 75vh;
    background-image: url("../assets/images/herocontact.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid rgba(242, 227, 188, 0.5);
}

/* Contact form */

#contactform-outer {
    margin: 5%;
}

#contactform {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: space-around;
    padding: 20px;
}

#contactform label {
    font-size: large;
    font-weight: bold;
}

#contactform input {
    padding: 5px;
    margin-bottom: 10px;
    max-width: 500px;
}

#contactform input[type="submit"] {
    padding: 20px;
    margin-top: 5%;
    border: none;
    background-color: #272727;
    max-width: 150px;
    color: rgba(242, 227, 188);
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}

#contactform input[type="submit"]:hover{
    cursor: pointer;
}

fieldset{
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 600px;
}

legend{
    font-size: x-large;
    text-transform: uppercase;
    padding: 0 0.5em;
}